<configuration>
	<property name="HOME_LOG" value="logs/labbook_connect.log" />
	
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover weekly -->
            <fileNamePattern>logs/labbook_connect.%d{yyyy-ww}.log</fileNamePattern>
            <!-- keep 10 weeks' worth of history -->
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS Z} %level [%thread] %logger{10} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="labbook_connect.labbook_connect" level="ALL" additivity="false">
        <appender-ref ref="FILE-ROLLING" /> 
	</logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING" />
    </root>
</configuration>

